img{
  width: 100%; /* occupa tutta larghezza */
  opacity: 1;
  display: block;
}

a{
  text-decoration: none; /*collegamenti senza decorazioni strane*/
}

body {
  margin: 0px;
  }

h1{
  color: #B4202E;
  font-family: Druk Wide;
  font-size: 2vw;
  margin: 10px;
}

h2{
  color:  #B4202E;
  font-family: Druk Wide;
  font-size: 4vw;
  margin: 10px;
}

.color2{
  color: #EDBDCD;
}

/* foto che si apre su nuova pagina */
.fotoaperta{
  opacity: 1;
  object-fit: cover;
  height: 100%;
  position: absolute;
  margin-top: 0;
}

.menu{
  width: 100%;
  z-index: 1;
  top:20px;
  padding-left: 30px;
  position: fixed;

}

.more{
  width: 100%;
  z-index: 1;
  padding-bottom: 20px;
  padding-left: 30px;
  position: fixed;
  bottom:0px;
}

.fotocontainer {
    margin-top: 0;
}
