/* con font-face posso usare una font family caricata nella cartella */
@font-face {
   font-family: 'drukwidebold2';
   src: url('font/drukwidebold.ttf') format('truetype');
}


body {
  line-height: 1.5;
  font-family: drukwidebold2;
}

  * {
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: nowrap;
}

.bar {
  background-color: red;
  height: auto;
  margin-top: -10px;
  margin-bottom: 0px;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-flow: table-column;
  column-gap: 30px;
  align-items: center;
  font-family: drukwidebold2;
  color: white;
  font-size: 15px;
  margin: auto;
  align-self: center;

}

.allahome {
  color: white;
  font-family: a dripping marker;
  font-size: 35px;
  padding-top: 6px;
  position: relative;
  text-align: center;
}

.headerfoto {
  background-color: green;
  margin-top: -10px;
  margin-right: -20px;
  margin-bottom: 0px;
  height: 50px;
  width: 120%;
  padding-left: 10px;
}

/* colonne di immaågini */

.colonne {
margin-top: 10px;
position: relative;
column-count: 3;
column-gap: 10px;
padding: 10px;
padding-top: 50px;

}

.magarifunziona{
  position: relative;
}

.magarifunziona:hover img {
  opacity: 0.5;
}

/* singola fotografia */
.fotogalleria{
  margin-bottom: 10px; /* spazio sotto */
  display: block;
  border-radius: 5px; /* rettangoli sono smussati, possiamo anche levarlo */
  background-color: red;
  float: left;
}
/* non viene nulla, erano le divisioni in classi F
#check1:checked ~ .bar .magarifunziona .fotogalleria {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check2:checked ~ .bar .magarifunziona .outside {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

 #check3:checked ~ .bar .magarifunziona .product {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check4:checked ~ .bar .magarifunziona .dimaland {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

#check5:checked ~ .bar .magarifunziona .hotel{
  opacity: 1;
  transform: scale(1);
  position: relative;
}
*/

img{
  width: 100%; /* occupa tutta larghezza */
  opacity: 1;
  display: block;
  transition: .5s ease;
  /* transition: 1s ease-in-out; */
}

/* .fotogalleria:hover {
  transform: scale(1.1%);
} */





/* dekstop */
@media (min-width: 768px) {

.colonne {
      position: relative;
      column-count: 5;
      column-gap: 10px;
      padding: 10px
      padding-top: 50px;

    }
