
body {

text-decoration: none;
 background-color: black;}

 .contenuto{
   display: flex;
   margin-top:20vw;
   flex-flow: column wrap;
   background: black;
   align-items: center;

 }

 .animazione{
   background: red;
   width: 60vw;
   height: 40vw;
 }

 .versogalleria {
   position: relative;
   width: 200px;;

 }

 .inizio{
   width: 50vw;
   height: 10vw;
   opacity: 0.8;
   position: relative;
   transition: .2s;
   top: -150px;
 }

 h1 {
   text-align: center;
   font-family: Druk Wide, sans-serif;
   font-size: 17px;
   color: white;
   text-decoration: none;
   opacity: 0.6;

 }

 h1:hover {
   opacity: 1;
 }

 label{
   position: absolute;
   z-index: 1;
   width: 45px;
   height: 22px;
   right: 20px;
   top: 20px;
   border: 3px solid;
   border-radius: 30px;
   margin: 0px;
   border-color: white;
   cursor: pointer;
 }

 label.active{
   border-color: black;
   }

 label:before{
   position: absolute;
   content: "";
   width: 17px;
   height: 17px;
   right: 1px;
   top: 0px;
   border: 2px solid;
   border-radius: 50%;
   background-color: white;
   transition: .2s;
   border-color: white;
 }

 label.active:before {
   right:24px;
   background-color: black;
   border-color: black;
 }

 body.night{
   background-color: red;
 }

 h1.night{
   color: black;
   opacity: 0.7;

 }

 h1.night:hover{
   opacity: 1;
 }



 @media (min-width: 768px) {

  .contenuto{
     margin-top:8vw;
   }

   @media (min-width: 1000px) {
    .contenuto{
       margin-top:5vw;
     }

    @media (min-width: 1200px) {
      .contenuto{
         margin-top:3vw;
       }
